.mariachi-title{
  margin-top: .1em;
  font-size: 3.5rem;

}


.tierra-azteca-title{
  font-size: 5rem;
  margin-bottom: 0;
}
.title-container{
  font-family: "Libre Baskerville";
  background-color: #490411;
  text-align: center;
  color: #FFD454;
  font-weight: normal;
  position: fixed;
  width: 100%;
  top: 0;
  height: 12.5em;


}
.homepage{
      text-align: center;

}
.group-photo-container{
    margin-top: 13em;
    background-color: white;
}
